.jumbotrom{
    background-color: blueviolet;
    color: white;
}
.footer{
    background-color: blueviolet;
    color: white;
    
}
.margin-standard{
    margin-left: 30px;
    margin-top: 15px;
}

.margin-top{
    margin-top: 15px;
}